<form action="/add" method="POST">
      <p>Year: <input type="text" name="year">
      Make: <input type="text" name="make">
      Model: <input type="text" name="model"></p>
      <button type="submit">Button</button>
    </form>