<h2>Used car list</h2>
<ul>
    <% for (let i = 0; i < vehicleList.length; i++) {%>
        <li><%= (vehicleList[i].year + ' ' + vehicleList[i].make + ' ' + vehicleList[i].model) %>
        <a href='/edit/<%= vehicleList[i].id %>'>Edit</a></li>
    <% } %>
</ul>

<a href="/add"><button name="add" value="Add car">Add car</button></a>
<br>
<br>
<form action="/filter" method="GET">
    <p><input type="text" name="make">
    <button type="submit">Filter by make</button></p>
</form>