<html>
    <head></head>
<h2>Used car list</h2>
<ul>
    <% for (let i = 0; i < vehicleList.length; i++) {%>
        <li><%= (vehicleList[i].year + ' ' + vehicleList[i].make + ' ' + vehicleList[i].model) %></li>
    <% } %>
</ul>
<br>

vehcicles.ejs